/*under nav masthead*/
.word-in-masthead {
    padding: 1.25rem 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.100rem;
    font-weight: 700;
}

.footer{
    margin-top: 50px;
}

/*nav + logout button*/
#mainNav .nav-link {
    background-color: #ffc800;
}
#mainNav{
    margin-bottom: 20px;
}
.logout-btn {
    background-color: #ffc800;
    border: none;
    /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important; */
    font-weight: normal !important;
    font-size: 0.95rem !important;
    color: #fff !important;
    letter-spacing: 0.0625em !important;
    padding: 0.5rem 1rem;
}

.logout-btn:hover {
    color: #ffc800 !important;
}

/*buttons*/
.btn {
    background-color: #ffc800;
    color: white;
    outline-color: #ffbd00;
}

.btn:hover {
    color: #ffc800;
}

/*register*/
.register-container{
    padding: 20px;
}
.register-form {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

/*login*/
.login-container {
    height: 500px;
}

#login-form {
    margin: 10% 25%;
}

/*.custom-tbl tbody{*/
/*    background-color: #ffeaa0;*/
/*}*/
/*.custom-tbl thead{*/
/*    background-color: #ffc800;*/
/*}*/
/*.table > :not(:first-child) {*/
/*    border-width: 1px 1px;*/
/*    border-color: #614c00;*/
/*    color: #614c00;*/
/*}*/
/* classes-grades list */
.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: center;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff9200;
    border: 2px solid #ff9b00;
    display: block;
    margin-right: 1rem;
}
.list-bullets li a {
    text-decoration: none;
    color: #be5200;
}
/*student-subjects html*/
.table-link{
    text-decoration: none;
    color: #614c00;
}

/*profile card*/
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.edit-icon{
    color: black;
    text-decoration: none;
}
/*all-assignments-by-teacher*/
.my-container{
    height: 450px;
    margin-left: 23%;
    margin-right: 20%;
}
/*create new assignment page*/
.create-assign-form{
    margin-left: 20%;
    margin-right: 20%;
}
/*teacher classes*/
.card-container{
    margin-left: 20%;
    margin-right: 20%;
    height: 450px;
}

/*class-student-grades*/
.gr-cont{
    margin-left: 23%;
    margin-right: 20%;
}
/*edit email, username, password*/
.edit-cont{
 margin-top: 50px;
    height: 450px;
}

