<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="commons::head">
</head>
<body class="body">
<!-- navigation -->
<nav th:replace="commons::nav"></nav>
<div class="my-container">
<table class="my-table table table-bordered m-2" style="width: 40rem;">
    <caption class="caption-top text-center">Assignments</caption>
    <thead>
    <tr class="text-center">
        <th scope="col">Subject</th>
        <th scope="col">Teacher</th>
        <th scope="col">Assignment name</th>
        <th scope="col">Description</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Due date</th>
        <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:if="${#lists.isEmpty(assignments)}">
        <td colspan="100%" th:text="|You have no assignments in ${subName} right now|"></td>
    </tr>
    <tr class="text-center" th:each="as : ${assignments}" th:object="${as}">
        <td th:text="*{subjectName}"></td>
        <td th:text="*{teacherFullName}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{creationDate}"></td>
        <td th:text="*{dueDate}"></td>
        <td th:if="*{grade != null}" th:text="*{grade.getGradeNumber()}"></td>
        <td th:if="*{grade == null}" th:text="'Not graded'"></td>
    </tr>
    </tbody>
</table>
</div>
<!-- footer -->
<footer th:replace="commons::footer"></footer>
<!-- scripts -->
<div th:replace="commons::scripts"></div>
</body>
</html>