<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="commons::head">
</head>
<body>
<!-- navigation -->
<nav th:replace="commons::nav"></nav>


<!--/*@thymesVar id="editUsernameBindingModel" type="com.example.onlineclassroom.model.binding.EditUsernameBindingModel"*/-->
<form th:action="@{/users/edit-profile/username}" th:method="put" th:object="${editUsernameBindingModel}" class="register-form mt-3">
  <div class="form-group">
    <label class="p-2" for="username">New Username</label>
    <input th:field="*{newUsername}" th:errorclass="is-invalid"
           th:classappend="${#fields.hasErrors('newUsername')}? 'bg-warning'" type="text" class="form-control m-2" id="username" placeholder="Enter new username">
    <small id="usernameIncorrect" class="invalid-feedback bg-warning text-dark rounded m-2 p-2">
      Your username must be between 3 and 20 characters long
    </small>
  </div>

  <div class="d-flex justify-content-center m-2">
    <button type="submit" class="btn">Submit</button>
  </div>


</form>


<!-- footer -->
<footer th:replace="commons::footer"></footer>
<!-- scripts -->
<div th:replace="commons::scripts"></div>
</body>
</html>