<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="commons::head">
</head>
<body>
<!-- navigation -->
<nav th:replace="commons::nav"></nav>
<div >
  <a class="btn d-inline-block" th:text="|Edit username|" href="/users/edit-profile/username"></a>
  <a class="btn d-inline-block" th:text="|Edit email|" href="/users/edit-profile/email"></a>
  <a class="btn d-inline-block" th:text="|Edit password|" href="/users/edit-profile/password"></a>
</div>


<!-- footer -->
<footer th:replace="commons::footer"></footer>
<!-- scripts -->
<div th:replace="commons::scripts"></div>
</body>
</html>