<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="commons::head">
</head>
<body class="body">
<!-- navigation -->
<nav th:replace="commons::nav"></nav>


<!--/*@thymesVar id="editUsernameBindingModel" type="com.example.onlineclassroom.model.binding.EditPasswordBindingModel"*/-->
<div class="edit-cont">
    <form th:action="@{/users/edit-profile/password}" th:method="put" th:object="${editPasswordBindingModel}" class="register-form mt-3">
        <div class="form-group">
            <label class="p-2" for="newPass">New Password</label>
            <input th:field="*{newPassword}" th:errorclass="is-invalid"
                   th:classappend="${#fields.hasErrors('newPassword')}? 'bg-warning'" type="password"  class="form-control m-2" id="newPass" placeholder="Enter new password">
            <small id="newPassIncorrect" class="invalid-feedback bg-warning text-dark rounded m-2 p-2">
                Your password must be between 4 and 15 characters long
            </small>
        </div>
        <div class="form-group">
            <label class="p-2" for="newPass">Confirm New Password</label>
            <input th:field="*{confirmNewPassword}" th:errorclass="is-invalid"
                   th:classappend="${#fields.hasErrors('confirmNewPassword')}? 'bg-warning'" type="password"  class="form-control m-2" id="newConfPass" placeholder="Confirm new password">
            <small id="confNewPassIncorrect" class="invalid-feedback bg-warning text-dark rounded m-2 p-2">
                Your password must be between 4 and 15 characters long
            </small>
        </div>
        <small th:if="${passNotMatch}" class="bg-warning text-dark rounded m-2 p-2">
            Your "new password" and "confirm new password" fields do not match
        </small>

        <div class="d-flex justify-content-center m-2">
            <button type="submit" class="btn">Submit</button>
        </div>


    </form>

</div>

<!-- footer -->
<footer th:replace="commons::footer"></footer>
<!-- scripts -->
<div th:replace="commons::scripts"></div>
</body>
</html>